/* BASE */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Passion One", cursive;
  overflow-x: hidden;
  background-color: bisque;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  font-family: "Passion One", cursive;
}

/* CONTAINERS */

.container-large {
  max-width: 1180px;
  margin: 0 auto;
}

/* HEADER */

.header {
  width: 100%;
  background-color: coral;
  min-height: 2.3rem;
}

/* NAVIGATION BAR */

nav {
  padding: 0.9rem 0;
  z-index: 99;
}

.nav-logo {
  font-size: 2rem;
}

/* START GAME SCREEN */

.main {
  height: 100vh;
  padding-top: var(--nav-size);
  display: grid;
  place-items: center;
}

.screen {
  position: relative;
  overflow: hidden;
  height: 100%;
  min-width: 400px;
}

.start-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-screen.active {
  transform: translateX(0);
}

.image {
  margin-bottom: 1rem;
}

/* SUDOKU BOARD SCREEN */

.sudoku-screen {
  display: flex;
  height: 85%;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.sudoku-screen.active {
  transform: translateX(0);
}

.sudoku-screen_grid {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(9, auto);
}

.sudoku-screen_cell {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 1rem;
  background-color: coral;
  color: rgb(65, 65, 65);
  display: grid;
  place-items: center;
  font-size: 1.4rem;
  cursor: pointer;
}

.sudoku-screen_cell.fill {
  background-color: #eee;
  color: rgb(65, 65, 65);
}

.sudoku-screen_cell.select {
    background-color: rgb(214, 104, 64);
    color: #fff;
}

.sudoku-screen_cell:hover {
    border: 0.2rem solid #bbb;
}

.sudoku-screen_cell.hover {
  border: 0.3rem solid black;
}

.sudoku-screen_cell.error {
    background-color: rgb(182, 74, 74);
}

.number-buttons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: #eee;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
    gap: 1rem;
}

/* RESULT SCREEN */

.result-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
}

.result-screen.active {
  display: flex;
}

.result-screen > * + * {
  margin-top: 2rem;
}

.result-screen .win {
  font-size: 4rem;
  color: coral;
}

/* BUTTONS */

.btn {
  font-size: 2rem;
  font-family: "Passion One", cursive;
  background-color: coral;
  width: 10rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  margin-bottom: 1.4rem;
  display: grid;
  place-items: center;
}

.btn:hover {
  background-color: rgb(214, 104, 64);
  transition: 0.3s;
}

.btn-delete {
    background-color: rgb(209, 37, 37);
    color: #fff;
    border: none;
    border-radius: 0.4rem;
    height: 1.6rem;
    font-size: 1.6rem;
}

.btn-number {
    height: 1.6rem;
    font-size: 1.3rem;
    cursor: pointer;
}

.btn-number:hover {
    background-color: coral;
    border: none;
    border-radius: 0.5rem;
    transition: 0.3s;
}

.btn-delete:hover {
    background-color: rgb(153, 40, 40);
    transition: 0.3s;
    cursor: pointer;
}

.btn-reset {
  background-color: rgb(119, 223, 115);
  color: #fff;
  border: none;
  border-radius: 0.4rem;
  height: 1.6rem;
  font-size: 1.2rem;
  padding: 0.2rem;
}

.btn-reset:hover {
  background-color: rgb(96, 187, 93);
  transition: 0.3s;
  cursor: pointer;
}
