* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Passion One", cursive;
  overflow-x: hidden;
  background-color: bisque;
}

/* BASE */

input {
  font-family: "Passion One", cursive;
  color: coral;
  border: 1.5rem solid rgb(158, 78, 49);
}

input:hover,
input:focus {
  border-color: burlywood;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

/* CONTAINERS */

.container-large {
  max-width: 1180px;
  margin: 0 auto;
}

/* HEADER */

.header {
  width: 100%;
  background-color: coral;
  min-height: 3rem; 
}

/* NAVIGATION BAR */

nav {
    padding: 1.5rem 0;
    z-index: 99;
}

.nav-logo {
    font-size: 2rem;
}

/* START GAME SCREEN */

.main {
    min-height: 40rem;
    text-align: center;
}

.screen {
    padding-top: 6rem;
}

.screen-start_game {
    max-width: 380px;
    margin: 0 auto;
}

.menu-body {
    min-height: 15rem;
}

.menu-body_image {
    margin-bottom: 2rem;
}

.menu-body_actions {
    display: grid;
}

.menu-body_actions label {
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
}


/* BUTTONS */

.btn {
    font-size: 2rem;
    font-family: 'Passion One', cursive;
    background-color: coral;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 0.2rem;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(214, 104, 64);
    transition: 0.3s;
}
